[access]
	inheritFrom = app-engine-geryon-team
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/app-engine-geryon-team
	read = group ldap/eng
	read = group mdb/all-person-users
[label "Verified-Build"]
      function = NoOp
      value = -1 Fails
      value = 0 No score
      value = +1 Verified
      copyCondition = changekind:NO_CODE_CHANGE
[submit-requirement "Verified-Build"]
      submittableIf = label:Verified-Build=MAX AND -label:Verified-Build=MIN